.main-sidebar{
  list-style: none;
 
  padding:0px;
}
.main-sidebar>li{
  line-height: 50px;
  background-color:#666262;
  border-bottom: 1px white solid;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 0px 35px;
  width: 100%;
}
.main-sidebar>li:hover{
  background-color:black;
  cursor: pointer;
}
.sidebar-div{
  height:90vh;
}